body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header styling */
header {
    background-color:hsl(206, 63%, 42%);
     /* #008080;  */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box; /* Include padding in the header width calculation */
}

/* Header content wrapper */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    box-sizing: border-box; /* Prevents the header from overflowing */
}

/* Text in the header */
.header-text {
    text-align: center;
    flex: 1;
    font-family: 'Georgia', serif;
    font-size: 35px;
}

/* Paragraph text in the header */
.header-text p {
    font-size: 20px;
}

.seminar-schedule {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.seminar-schedule th,
.seminar-schedule td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.seminar-schedule th {
    background-color: hsl(206, 63%, 42%);
    color: white;
}

/* .seminar-schedule tr:nth-child(even) {
    background-color: #99ffff;
} */

/* Lab logos styling */
.lab-logos {
    display: flex;
    align-items: center;
}

/* Logo images */
.lab-logos img {
    max-height: 150px; /* Use max-height to make the logo size flexible */
    width: auto;
    object-fit: contain;
    margin: 0 10px;
}

main {
    padding: 20pt;
    max-width:  700pt;
    margin:     auto;
}



.talk {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.talk-summary {
    margin-bottom: 10px;
    overflow: hidden;
    font-family: 'Verdana', sans-serif;
}

.nav-container {
    background-color: #f8f9fa;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.nav-menu {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:right;
    gap: 2rem;
}

.menu-item a {
    text-decoration: none;
    color: hsl(206, 63%, 42%)
    font-weight: 500;
    font-size: 28px;
}

.menu-item a:hover {
    color: hsl(206,63%,42%)
}

.date {
    background-color: #8BB8E8
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}
.date .month {
    font-size: 14px;
    font-weight: bold;
}
.date .day {
    font-size: 24px;
    font-weight: bold;
}

.speaker-image {
    float: left;
    margin-right: 20px;
}

.speaker-image img {
    max-width: 200px; /* Maintain aspect ratio */
    height: 100%; /* Make the image height fill the parent container */
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.talk-details {
    display: none;
    margin-top: 10px;
}

.more-details {
    background: transparent;
    border: 0px solid #ffffff;
    color: #2c7a7b;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .footer {
    text-align: center;
  }

.summary-text {
    overflow: hidden; /* Clear the float */
    margin: 0px;
}

h2 {
    font-size: 32px; /* Larger font size for talk titles */
    color: hsl(206,63%,42%)
}

h3 {
    font-size: 24px; /* Larger font size for talk titles */
    margin: 0px;
    color: #003a5c;
}

p {
    font-size: 16px; 
}

.summary-text h3 {
}

.talk.expanded .talk-details {
    display: block;
    padding-bottom: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
}

.committee-content h3 {
    color: #004c4c;
}

.committee-list {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    font-size: 18px;
}

.committee-list li {
    margin-bottom: 10px;
}

.committee-list a {
    color: #4CAF50;
    text-decoration: none;
}

.committee-list a:hover {
    text-decoration: underline;
}

  

/* Media query to hide logos on smaller screens */
@media (max-width: 768px) {
    .lab-logos {
        display: none; /* Hide the logos */
    }

    .header-text {
        order: 1; /* Move the header text to the top */
    }
}
